body {
  --main-heading: "Playfair Display", serif;
  --secondary-heading: "Poppins", sans-serif;
  --text-align: center;
  --border: 1.5px solid;
  --border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-heading);
}

.container {
  max-width: 100%;
  padding: 0;
}

.main-window {
  background: #f9f7fe;
}

.navbar {
  background-color: #f9f7fe;
}

.heading {
  padding: 50px 0 150px;
}

nav a {
  box-shadow: none;
  font-family: var(--secondary-heading);
  font-size: 16px;
  padding: 0 50px;
}

.navbar-light .navbar-brand {
  color: #272142b2;
}

.navbar-light .navbar-brand:hover {
  color: #6c63ff;
}

.navbar-collapse {
  text-align: end;
  flex-direction: row-reverse;
}

.navbar-light .navbar-nav .nav-link {
  color: #272142b2;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-toggler,
.navbar-light .navbar-nav .nav-link.active {
  color: #6c63ff;
}

.ua-heading {
  font-family: var(--secondary-heading);
  text-align: var(--text-align);
  font-weight: bolder;
  margin: 60px 0 0;
  font-size: 36px;
}

.main-heading {
  text-align: var(--text-align);
  font-weight: bolder;
  font-size: 96px;
  margin: 0 0 24px;
}

.info-heading {
  font-family: var(--secondary-heading);
  text-align: var(--text-align);
  color: #272142;
  margin-bottom: 24px;
  font-size: 24px;
}

.description {
  text-align: var(--text-align);
}

.links {
  display: flex;
  margin: 40px 0 0;
  justify-content: center;
}

a {
  padding: 15px 10px;
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 10px lightgrey;
  margin: 0 10px;
}

.btn {
  background: #6c63ff;
  color: white;
  font-weight: bold;
  padding: 18px 30px;
  transition: all 150ms ease-in-out;
  border: var(--border) royalblue;
  text-decoration: none;
}

.btn:hover {
  background: white;
  color: #6c63ff;
  border: var(--border) #6c63ff;
}

.project-pic {
  width: 500px;
}

.project-description .project-label {
  font-size: 64px;
  line-height: 85.31px;
}

.project-text {
  color: #272142b2;
  line-height: 30px;
  font-size: 16px;
}

.project-button {
  font-size: 16px;
  color: #6c63ff;
  background-color: white;
  border: 1px solid #6c63ff;
}

.content-container {
  padding: 120px 60px;
}

.content {
  margin: 30px;
}

.content-heading {
  font-size: 64px;
  line-height: 85.31px;
  max-width: 700px;
}

.about-heading {
  font-size: 18px;
  color: black;
  opacity: 80%;
  padding: 0;
}

.about-description {
  padding: 0;
  font-size: 16px;
  color: #272142b2;
  line-height: 30px;
}

.portfolio-photo {
  padding: 0 0 0 0px;
}

.photo {
  height: 500px;
  width: 500px;
  border-radius: 20px;
}

.work-heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin: 15px 0 5px;
}

.work-description {
  font-size: 14px;
  line-height: 21px;
  color: #272142b2;
}
.work-pic {
  border-radius: 20px;
}

.contacts a {
  text-decoration: none;
  box-shadow: none;
}
@media (max-width: 985px) {
  .project-description {
    text-align: center;
  }

  .content-container {
    text-align: var(--text-align);
    padding: 0;
  }

  .heading {
    font-size: 54px;
  }

  .portfolio-photo {
    padding: 0;
  }

  .photo {
    height: 350px;
    max-width: 350px;
  }

  .content-heading {
    font-size: 44px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  .ua-heading {
    font-size: 30px;
    margin: 10px 10px;
  }

  .main-heading {
    font-size: 40px;
    margin: 10px 10px;
  }

  .info-heading {
    font-size: 15px;
    margin: 20px 0 0;
  }

  .portfolio .projects {
    display: block;
    margin: 0;
    text-align: var(--text-align);
  }

  .portfolio .project-description {
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
  }
  .project-description .project-label {
    font-size: 35px;
  }
  .portfolio .project-description .project-text {
    margin: 0 10px;
  }

  .portfolio .project-button {
    display: block;
    margin: 10px auto;
  }
}
